
.module-container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .module-title {
    color: #333;
    margin-bottom: 10px;
  }
  .module-list {
    list-style: none;
    padding: 0;
  }
  .module-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  .module-list li:last-child {
    border-bottom: none;
  }
  .module-number {
    color: #007bff;
    font-weight: bold;
    margin-right: 5px;
  }
  .module-description {
    color: #666;
  }

/* loading bar  */
.loading {
    font-weight: bold;
    display: inline-block;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0); /* Adjust the width as needed */
    animation: loading 1s steps(4) infinite;
    color: black;
  }
  
  @keyframes loading {
    0%,
    100% {
      clip-path: inset(0 3ch 0 0);
    }
    25% {
      clip-path: inset(0 2ch 0 0);
    }
    50% {
      clip-path: inset(0 1ch 0 0);
    }
    75% {
      clip-path: inset(0 0 0 0);
    }
  }