<mat-progress-bar color="warn" mode="indeterminate" id="p-bar"></mat-progress-bar>

<div class="body" style="margin-top: 0">
  <div class="container">
    <h2>Enter registered email</h2>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        [formControl]="email"
        type="email"
        id="email"
        name="email"
        required
      />
    </div>

    <button (click)="requestPasswordChange()" [disabled]="!email.valid">
      Submit
    </button>
  </div>
</div>
