/* styles.css */



.certificate {
    max-width: 600px;
    margin: 90px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-top: 10px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

.date {
    font-weight: bold;
}
